<section class="contact bg_primary">
  <div class="container">
    <h1 class="section_title center">Contact</h1>
    <div class="row align-center">
      <div class="col-5">
        <div class="feature_image">
          <img src="assets/contact-img.svg" alt="contact" width="90%">
        </div>
      </div>
      <div class="col-7">
        <h2 class=" text-light">About Company</h2>
        <p class="text-light mb-2">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id es excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id es excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id es</p>
        <ul class="horizontal_list">
          <li><i class="fa-brands fa-facebook"></i> Linear_audit</li>
          <li><i class="fa-brands fa-instagram"></i> Linear_audit</li>
          <li><i class="fa-solid fa-envelope"></i> linearaudit@gmail.com</li>
        </ul>
      </div>
    </div>
  </div>
</section>