<section class="testimonial">
  <div class="container">
    <h1 class="section_title center">Testimonial</h1>
    <owl-carousel-o id="testmonial_slider" [options]="customOptions" class="carousel">
      <ng-template carouselSlide *ngFor="let testimonial of testimonials; let i = index">
         <div class="testimonial_card">
            <div class="testimonial_card-box">
              <p class="content">{{ testimonial.message }}</p>
              <div class="author">
                <img class="profile" [src]="'https://i.pravatar.cc/60?img=' + (i + 1)" alt="author">
                <div class="name">{{ testimonial.name }}</div>
                <div class="designation">Marketing Manager, Company</div>
              </div>
            </div>
          </div>
      </ng-template>  
    </owl-carousel-o>


  </div>
</section>