<section class="intro">
  <div class="container">
    <div class="row align-center">
      <div class="col-5">
        <h1 class="section_title">Seeking Professional Support for
          <span class="tcontainer"> 
            <span class="text1">Taxation</span>
            <span class="text2">Audits</span>
            <span class="text3">Registration</span>
            <span class="text4">Business Setup?</span>
          </span>

        </h1>
        <p>At Linear Audit, we take great pride in our ability to
          deliver prompt solutions. Our services are designed to
          be exceptionally fast, setting us apart from our
          competitors and guaranteeing our clients an
          outstanding experience.</p>
        <button class="outline icon-btn btn primary"><i class="fa-brands fa-whatsapp"></i> Let Connect</button>
      </div>
      <div class="col-7">
        <div class="intro_img">
          <img src="assets/intro.gif" alt="Intro Image" width="100%" />
        </div>
      </div>
    </div>
  </div>
</section>