<section class="subscriber bg_primary light center">
  <div class="container">
    <div class="sub_title center text-light mb-2">Don't miss out on the latest and greatest. Be the first to know about updates.</div>
    <h1 class="section_title light center">SUBSCRIBE NOW!</h1>
    <div class="subscribe_form">
      <input class="form-control" type="text" name="email" placeholder="Enter Your email address" />
      <button class="btn secondary solid">Subscribe</button>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="box center text-light">
          <div class="image-box">
            <img src="assets/insights/insight1.svg" alt="Insight">
          </div>
          <h3 class="box_title">Insight 1</h3>
          <p class="content">Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Sed
            euismod lacus ut lectus iaculis, a
            commodo elit faucibus.</p>
        </div>
      </div>
      <div class="col-4">
        <div class="box center text-light">
          <div class="image-box">
            <img src="assets/insights/insight2.svg" alt="Insight">
          </div>
          <h3 class="box_title">Insight 2</h3>
          <p class="content">Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Sed
            euismod lacus ut lectus iaculis, a
            commodo elit faucibus.</p>
        </div>
      </div>
      <div class="col-4">
        <div class="box center text-light">
          <div class="image-box">
            <img src="assets/insights/insight3.svg" alt="Insight">
          </div>
          <h3 class="box_title">Insight 3</h3>
          <p class="content">Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Sed
            euismod lacus ut lectus iaculis, a
            commodo elit faucibus.</p>
        </div>
      </div>
    </div>
  </div>
</section>