/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
$primary : #5151d5;
$secondary : #1d1d1d;
$color_light : #ffffff;

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: $secondary;
    app-home{
        position: relative;
        padding-top: 70px;
    }
}


:root{
    --primary : #5151D5;
}
.flex-spacer {
    flex: 1 1 auto;
}


// container
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.mb-2 {
    margin-bottom: 2rem;
}

// Grid
.row {
    display: flex;
    flex-wrap: nowrap;
    gap: 2%;
    row-gap: 20px;

    &.wrap {
        flex-wrap: wrap;
    }

    &.align-center {
        align-items: center;
    }

    .col-6 {
        max-width: 48%;
        width: 100%;
    }

    .col-4 {
        max-width: 31.3%;
        width: 100%;
    }

    .col-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .col-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
}

@media (max-width: 767px) {
    body section {
        padding-left: 20px;
        padding-right: 20px;
    }

    .row {
        flex-wrap: wrap;

        .col-5,
        .col-7,
        .col-4,
        .col-6 {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }


    ul.horizontal_list {
        flex-direction: column;
        row-gap: 10px !important;
    }

}

section {
    padding: 3em 0;

    .section_title {
        font-size: 2.1rem;
        margin: 0;
        margin-bottom: 3rem;
        font-weight: 400;

        &.light {
            color: $color_light;
        }
    }

    .center {
        text-align: center;
    }

    &.bg_primary {
        background-color: $primary;

        .section_title {
            color: $color_light;
        }
    }

    .text-light {
        color: #ffffff;
    }
}

.card {
    height: 100%;

    .card-box {
        padding: 1rem;
        box-sizing: border-box;
        height: 100%;
        transition: .6s;
        background: #fff;
        border-radius: 11px;
        &:hover{
            transition: .6s;
            transform: scale(1.08);
        }

        .card-title {
            font-weight: 500;
            font-size: 18px;
            margin: 0;
        }
    }
}

// buttons
.btn {
    padding: 10px 15px;
    font-size: 20px;
    &.outline {
        border: 2px solid $secondary;
        background-color: transparent;
        border-radius: 100px;

        &.primary {
            border-color: $secondary;
            color: $secondary;
            &:hover{
                background-color: $primary;
                color: #ffffff;
                border-color: $primary;
            }
        }
    }

    &.solid {
        border: 0;
        border-radius: 100px;

        &.secondary {
            background-color: $secondary;
            color: #ffffff;
        }
    }

}

ul.horizontal_list {
    display: flex;
    gap: 20px;
    list-style-type: none;
    color: #ffff;
    font-size: 18px;
    font-weight: 500;
    padding: 0;
}

// form 
.form-control {
    height: 50px;
    background-color: #ffffff;
    border: 1px solid #efefef;
    border-radius: 100px;
    font-size: 17px;
    color: #000000;
    width: 100%;
    padding: 4px 28px;
    box-sizing: border-box;

    &::placeholder {
        color: #000000;
    }

    &:focus-visible {
        box-shadow: 0px 0px 6px 0px #21217e;
        outline: 2px solid #171765;
    }
}

// footer
.footer {
    background: #fff;
    padding: 15px;

    &.center {
        text-align: center;
    }

    .copyright {
        color: #000;
        font-weight: 600;
    }
}



.cdk-overlay-pane {
    right: 0 !important;
    .mat-mdc-menu-panel {
        border-radius: 0;
        .mat-mdc-menu-content{
            width: 60vw;
            height: 90vh;
            border-radius: 0;
            background: $primary;
            color: #fff;
        
            a{
                color: #ffffff;
            }
        }
    }
}